.detail {
    position: relative;
    width: 1000px;
    height: calc(100vh - 176px);
    margin: 0 auto;
}

.detail .image, .image img {
    height: inherit;
}

.detail .image {
    width: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.detail .info {
    position: absolute;
    width: 936px;
    bottom: 1em;
    left: 2em;
}

.info h1, .info address, .info p {
    background: #fff;
    width: fit-content;
    padding: 0px 1em;
}

.info h1, .info address {
    height: 1.75em;
    line-height: 1.75em;
}

.info h1 {
    margin: 0;
}

.info address {
    margin-top: 1em;
}

.info p {
    height: auto;
    padding: 0.5em 1em;
}